<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>978515152769-e2dokcnioj88o7hd6lqcpi4qffbbf6nv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978515152769-e2dokcnioj88o7hd6lqcpi4qffbbf6nv</string>
	<key>API_KEY</key>
	<string>AIzaSyALNWGkoD-OaUp4vSDNN9bcBvXnT1vZOUw</string>
	<key>GCM_SENDER_ID</key>
	<string>978515152769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akshay.iOS-Social</string>
	<key>PROJECT_ID</key>
	<string>ios-social-19f6b</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-social-19f6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:978515152769:ios:8dff7fbb7abac8d1</string>
	<key>DATABASE_URL</key>
	<string>https://ios-social-19f6b.firebaseio.com</string>
</dict>
</plist>